body {
    background-image: url("./assets/images/main_background.png");
}

/*---------------- HEADER ------------*/
/*
header div.container div.main-menu {
    border-bottom: none;
}

header div.container:nth-child(2) {
    max-width: 100%;
}

header div.container:nth-child(2) div.row {
    max-width: 1124px;
    margin: 0 auto;
}

header div.container:nth-child(2) div.main-menu {
    height: 70px;
}
*/
header#sticky {
    width: 100%;
    height: 160px;
    background: #F4F1DE;
    border: 1px solid #D8D8D8;
    font-family: Roboto, sans-serif;
}

header#sticky * {
    padding: 0;
}

header#sticky .main-menu.border-section.border-top-0 {
    padding-top: 20px;
}

header div.container:nth-child(2) div.main-menu div.brand-logo {
    padding: 0;
}

header div.container:nth-child(2) div.main-menu div.brand-logo img {
    width: 150px;
}

/*
header div.container:nth-child(2) div.main-menu img.img-fluid.main-logo {
    height: 100px;
}
*/
header div.container:nth-child(2) div.main-menu div:nth-child(2) form.form_search{
    border-radius: 50px;
    height: 50px;
    width: 660px;
    background-color: inherit;
}

header div.container:nth-child(2) div.main-menu div:nth-child(2) form {
    background-color: inherit;
    box-shadow: none;
    position: relative;
    left: -20px;
}

header div.container:nth-child(2) div.main-menu div:nth-child(2) form.form_search button{
    position: relative;
    top: -1px;
    right: 0;
    width: 80px;
    background-color: #F16723;
    height: inherit;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid lightgrey;
}

header div.container:nth-child(2) div.main-menu div:nth-child(2) form.form_search button i{
    color: white;
    font-size: 25px;
    vertical-align: middle;
}

header div.container:nth-child(2) div.main-menu div:nth-child(2) form.form_search input{
    height: inherit;
    width: 580px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    border: 1px solid lightgrey;
    background-color: white;
    text-indent: 15px;
    color: #707070;
}

header#sticky li.user-login a {
    display: inline-block;
    height: 45px;
    width: 217px;
    background-color: #F16723;
    color: white;
    font-weight: 500;
    text-align: center;
    border-radius: 29px;
    line-height: 45px;
    position: relative;
    left: -30px;
}

/*profile section is stylesheets is here*/
header#sticky li div.profile-section {
    margin-left: -25px;
}
header#sticky li div.profile-section ul li{
    width: 50px;
}

header#sticky li div.profile-section ul li a img{
    width: 25px;
}

header#sticky li div.profile-section img.profile_avatar {
    border-radius: 100%;
    border: 1px solid black;
    padding: 2px;
}

header#sticky li.mobile-cart {
    vertical-align: middle;
}

/* this is the number of elements added to cart notif */
div.cart-qty-cls {
    background: #3E6867;
}
/*
header div.container:nth-child(2) div.main-menu div.menu-right i.fa-users {
    display: none;
}

header div.container:nth-child(3) div.main-nav-center {
    height: 30px;
}
*/

header#sticky div.main-nav-center {
    padding-top: 20px;
}

header#sticky div#mainnav ul.nav-menu {
    display: flex;
    justify-content: space-between;
}

header#sticky div#mainnav ul.nav-menu li:first-child {
    display: none;
}


header div.container:nth-child(3) div.main-nav-center div {
    width: 100%;
}

header div.container:nth-child(3) div.main-nav-center ul.nav-menu li a {
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}
/*
header .main-navbar .nav-menu > li > a {
    padding-right: 20px;
}
*/

header div.container:nth-child(3) div.main-nav-center ul.nav-menu li a span.sub-arrow {
    display: none;
}

a.user-login-hidden {
    display: none;
}
/*--------- this is for the special offer banner with circular images -------------*/
/*
.special-offers-banner {
    background: #F4F3F1;
    height: 120px;
    margin-bottom: 100px;
}

.special-offers-banner-title {
    font-size: 40px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    height: 50px;
}

.special-offers-banner-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.special-offers-banner-list-element {
    display: inline-block;
    width: 12%;
    vertical-align: top;
}

.special-offers-banner-img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid black;
}

.special-offers-banner-desc {
    display: block;
    font-size: 13px;
    width: 100px;
    margin: 0 auto;
}
*/

/*------------ FOOTER ----------------*/


footer {
    background-color: #545A71;
}

footer div.sub-footer {
    background-color: inherit;
}

footer h4.footer-main-title {
    text-align: center;
    font-family: "circular std", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer h1.footer-newsletter-special-offer {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

footer p.footer-newsletter-desc {
    text-align: center;
    font-family: "circular std", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 33px;
    margin-top: 20px;
}

footer div.footer-newsletter-form-section {
    display: flex;
}

footer form.footer-newsletter-form {
    width: 450px;
    margin: 80px auto ;
    margin-bottom: 0;
    border: 1px solid #ED6646;
    height: 50px;
    border-radius: 30px;
}

footer form.footer-newsletter-form input{
    background-color: inherit;
    height: 50px;
    border-radius: inherit;
    border: none;
    width: 70%;
    outline: none;
    text-align: center;
}

footer form.footer-newsletter-form button {
    width: 30%;
    border-radius: inherit;
    height: 50px;
    background-color: #ED6646;
    color: #FFFFFF;
    border: none;
    outline: 1px solid #ED6646;
}

footer div.footer-newsletter-form-section img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 80px;
}

footer section.footer-main-menu div.footer-title h4 {
    font-family: "Wensley Demo", serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

footer section.footer-main-menu div.sub-title div.footer-content a {
    font-family: "Poppins Light", sans-serif;
    font-weight: normal;
    color: #BCBCBC;
    font-size: 15px;
    text-transform: capitalize;
}

footer section.footer-main-menu p.footer-content-desc {
    color: #BCBCBC;
    font-family: Poppins, sans-serif;
}


footer a#lean-more-link {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    color: white;
}

footer div.footer-social-media-links {
    text-align: center;
    padding: 80px 0;
    padding-bottom: 0;
}

footer div.footer-social-media-links a {
    padding: 0 10px;
}

footer div.footer-social-media-links img{
    width: 32px;
    height: 32px;
}



footer div.footer-main-subfooter {
    background: inherit;
    padding-bottom: 20px;
}

footer div.footer-main-subfooter a {
    box-shadow: none;
    border: none;
    color: #BCBCBC;
}


footer div.footer-main-subfooter div.subfooter-right {
    display: flex;
    justify-content: right;
}

footer div.footer-main-subfooter div.subfooter-right a{
    padding-right: 10px;
}

footer div.footer-main-subfooter div.subfooter-right a:last-child {
    padding-right: none;
}

footer section.footer-main-menu .container,
footer div.footer-main-subfooter .container {
    max-width: 1200px;
    text-align: justify;
}

/*--------page COLLECTION (boutiques)---------*/
section.collection div.collection-block img{
    border-radius: 10px;
}

section.collection div.collection-block a.btn{
    font-family: inter, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

/*------------- Vendor profile page -------------*/
div#vendor-profile div.vendor-cover div.bg-size {
    background-image: url("./assets/images/cover.jpg");
    height: 350px;
}

div#vendor-profile section.vendor-profile {
    margin-top: -70px;
}

div#vendor-profile section.pt-0 {
    padding-top: 0 !important;
}

div#vendor-profile .vendor-profile .profile-left {

    display: flex;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.07);
    box-shadow: 0 0 8px 0 rgba(0,0,0,.07);

}

div#vendor-profile .vendor-profile .profile-left .profile-image {
    text-align: center;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#vendor-profile .vendor-profile .profile-left .profile-image img {
    width: 60%;
    margin: 0 auto;
}

div#vendor-profile .vendor-profile .profile-left .profile-image h3 {
    font-weight: 700;
    margin-bottom: 5px;
    color: #000;
}

div#vendor-profile .rating {
    margin-top: 0;
}

div#vendor-profile .vendor-profile .profile-left .profile-image h6 {
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: .05em;
    text-transform: capitalize;
}

div#vendor-profile .vendor-profile .profile-left .profile-detail {
    border-left: 1px solid #efefef;
    padding-left: 20px;
    margin-left: 20px;
    width: 60%;
    display: flex;
    align-items: center;
}

div#vendor-profile .vendor-profile .profile-left .profile-detail p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
}

div#vendor-profile .vendor-profile .profile-left .profile-detail p + p {
    margin-top: 10px;
}

div#vendor-profile .vendor-profile .profile-left .vendor-contact {
    border-left: 1px solid #efefef;
    padding-left: 20px;
    margin-left: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#vendor-profile .vendor-profile .profile-left .vendor-contact h6 {
    text-transform: capitalize;
    color: #000;
    font-weight: 700;
    margin-bottom: 8px;
}

div#vendor-profile .vendor-profile .profile-left .vendor-contact .footer-social {
    margin-top: 0;
    margin-bottom: 12px;
    justify-content: center;
}

div#vendor-profile .vendor-profile .profile-left .vendor-contact .footer-social li {
    padding: 0 5px;
}

div#vendor-profile .vendor-profile .profile-left .vendor-contact a {
    text-transform: capitalize;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    font-size: 13px;
    text-indent: -10px;
    line-height: 10px;
}

div#vendor-profile div.top-banner-wrapper {
    display: none;
}

div#vendor-profile div.collection-product-wrapper img.img-fluid {
    border-radius: 5px;
}

div#vendor-profile div.slick-list div.slick-slide a img.img-fluid{
    border-radius: 5px;
}

/*-------------- PRODUCTS PAGE --------------*/

div#main-products-page div.collection-block{
    /*height: 618px;*/
    margin-bottom: 50px;
    box-shadow: 0 10px 8px lightgrey;
    border-radius: 10px;
    padding-bottom: 5px;
}

div#main-products-page div.collection-block img {
  border-radius: 10px;
  width: 253px;
  height: 253px;
}

div#main-products-page div.collection-block h3 {
    text-align: left;
    font-family: inter, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}

div#main-products-page div.collection-block h4 {
    text-align: left;
    font-family: inter, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    color: #898787;
}

div#main-products-page div.collection-block p {
    text-align: left;
    font-family: inter, sans-serif;
    color: black;
}

div#main-products-page div.collection-block span {
    display: block;
    font-family: inter, sans-serif;
    font-size: 12px;
    text-align: left;
    color: gray;
    margin-bottom: 10px;
}

div#main-products-page div.collection-block div.rating {
    width: 30%;
}

div#main-products-page div.collection-block i.fa.fa-star {
    font-size: 10px;
}

div#main-products-page div.collection-block div.rating-num {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    padding-right: 40px;
}

div#main-products-page div.collection-block a.btn.btn-outline {
    height: 30px;
    line-height: 8px;
    width: 110px;
    text-align: center;
    font-size: 8px;
    color: #2264D1;
    border: 1px solid #2264D1;
    font-weight: normal;
    border-radius: 5px;
    text-indent: -13px;
}

div#main-products-page div.collection-block a.btn.btn-outline:hover {
    background-color: #2264D1;
    color: white;
}


div#main-products-page div.collection-block div.rating,
div#main-products-page div.collection-block div.rating-num,
div#main-products-page div.collection-block a.btn.btn-outline {
    display: inline-block;
}

/*
div#main-products-page div.partition-collection {

}*/

/*--------- ABOUT US PAGE ------------*/
div#about-us section.about-page {
    padding: 0;
}

div#about-us section.about-page div.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

div#about-us section.about-page div.section-one,
div#about-us section.about-page div.section-two,
div#about-us section.about-page div.section-three,
div#about-us section.about-page div.section-four {
    height: 1055px;
}

div#about-us section.about-page div.section-one {
    background-color: #B9502C;
}

div#about-us section.about-page div.section-two {
    background-color: #4F5E75;
}

div#about-us section.about-page div.section-three {
    background-color: #C6D8D8;
}

div#about-us section.about-page div.section-three {
    background-color: #FFF5F1;
}

div#about-us section.about-page img {
    width: 204px;
    height: 265px;
    position: relative;
}

div#about-us section.about-page div.section-one img,
div#about-us section.about-page div.section-three img {
    left: 207px;
    top: 387px;
}

div#about-us section.about-page div.section-two img {
    top: 387px;
    right: -210px;
}

div#about-us section.about-page span {
    display: inline-block;
    position: relative;
    width: 711px;
    height: 183px;
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 30px;
}


div#about-us section.about-page div.section-one span,
div#about-us section.about-page div.section-three span {
    top: 428px;
    left: 346px;
}

div#about-us section.about-page div.section-two span {
    top: 428px;
    left: 129px;
}

div#about-us section.about-page div.section-four a {
    display: block;
    width: 603px;
    height: 83px;
    margin: 0 auto;
    background-color: #F16723;
    border-radius: 40px;
    font-family: inter, sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 83px;
    margin-top: 450px;
}

div#about-us section.about-page div.section-four div {
    width: 530px;
    height: 132px;
    font-family: inter, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 20px auto;
}

/*---------- Responsive design -------------*/
@media (max-width: 991px) {
    .special-offers-banner {
        height: 100px;
    }
    .special-offers-banner-title {
        font-size: 25px;
        margin-bottom: 0;
    }
    .special-offers-banner-list-element {
        width: 15%;
    }
    .special-offers-banner-img {
        width: 70px;
        height: 70px;
    }
    .special-offers-banner-desc {
        font-size: 10px;
    }
    h1.footer-main-title {
        font-size: 25px;
    }
    h3.footer-main-div-title {
        font-size: 20px;
        height: fit-content;
    }
    p.footer-main-div-desc {
        height: fit-content;
        margin-bottom: 20px;
    }
    p.footer-main-last-desc {
        height: fit-content;
    }
    p.footer-main-last-desc + a.footer-link {
        margin-bottom: 50px;
    }
    div.footer-title{
        border-bottom: 1px solid #dddddd;
    }
}

@media (max-width: 767px) {
    .special-offers-banner {
        display: none;
    }
    div.sub-title {
        margin-bottom: 20px;
    }
}

@media (max-width: 577px) {
    li.user-login {
        position: fixed;
        bottom: -22px;
        right: 50px;
    }

    li.user-login a{
        display: none;
    }
    li.user-login a.user-login-hidden{
        display: inline-block;
        font-size: 22px;
        color: #999999;
    }
}

img.img-fluid.cart-logo {
    width: 25px;
    vertical-align: sub;
}

div.cart-qty-cls {
    display: none;
}


/*------------------ FROMS ------------------------*/

/*----LOGIN PAGE------*/
section.login-page div.form-group {
    margin-bottom: 2rem;
}

section.login-page div.form-group div.inputloader {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 30px;
}

section.login-page .signinloader {
    margin: 0 auto;
}

/*----------REGISTER PAGE------*/

section.register-page form.theme-form div.form-row {
    margin-bottom: 20px;
}

section.register-page form.theme-form div.form-row select,
section.register-page form.theme-form div.form-row select option {
    text-transform: capitalize;
}

section.register-page .signinloader {
    margin: 0 auto;
}

/*-------- PWD PAGE---------*/
section.pwd-page div.invalid-feedback {
    font-size: 13px;
    margin-bottom: 10px;
}


/*--------------HOME PAGE----------------*/

div.home-page,
div.notification-page {
    height: 300px;
}

div.home-page h1,
div.notification-page h1 {
    text-align: center;
    margin-top: 100px;
    color: grey;
}


/*----------USER DASHBOARd--------*/
div.user-dashboard div.dashboard-loading {
    margin: 60px auto;
}

div.user-dashboard div.avatar {
    text-align: center;
}

div.user-dashboard div.avatar img {
    border-radius: 100%;
    padding: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 3px grey;
    cursor: pointer;
}

div.user-dashboard input#avatar-input {
    display: none;
}